.header-generator {
  display: flex;
  flex-direction: column;
}

.header-generator button {
  background-color: #33C3F0;
  border-radius: 4px;
  border: none;
  color: white;
  height: 38px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .1rem;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}
